@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    
}
input:focus {
   
background: rgba(242, 208, 168, 0.36);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.9px);
-webkit-backdrop-filter: blur(5.9px);
border: 1px solid rgba(255, 191, 117, 0.67);
  }
.btn:hover{
    background: rgba(176, 255, 6, 0.875);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(176, 255, 6, 0.875);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 29, 240, 0.3);
}
.nav-item:hover {

    background: rgba(255, 29, 240, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(231, 255, 10, 0.861);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 29, 240, 0.3);
}

.active {
    background: rgba(255, 29, 240, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(231, 255, 10, 0.861);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 29, 240, 0.3);
}

.viral-card-3 {

    background: rgba(255, 136, 223, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.457);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 52, 201, 0.67);
}

.viral-card-2 {

    background: rgba(176, 255, 6, 0.875);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(138, 123, 255, 0.3);
}

.viral-card-1 {

    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.viral-card {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(52, 54, 91, 0.563);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}