body {
  background-image: url(bg/bg-blue.jpg);
  background-size: cover;
 
}

.dark-mode {
  background-image: url(bg/bg-dark.jpg);
  background-size:cover;
}

.light-mode {
  background-color: white;
  color: black;
}